.jones-container {
  display: grid;
  height: 100vh;
  width: 100vh;
  margin: 0 auto;
}
.mandala {
  justify-self: center;
  align-self: center;
  height: 100%;
  z-index: 10;
}

  img.rotating {
    transform: rotate(0deg);
  }

  @keyframes rotating{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .rotating {
    animation: rotating 15s linear infinite;
  }


  img.rotating_r {
    transform: rotate(0deg);
  }

  @keyframes rotating_r {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  .rotating_r {
    animation: rotating_r 15s linear infinite;
  }

