.jones-container {
  display: flex;
/*   align-items: center;
  justify-content: center; */
  overflow: hidden;
}

.mandala {
/*   display: flex; */
   justify-content: center;
  align-items: center;
/*   position: absolute; */
/*   align-self: center;
  justify-self: center; */
  width: 90vmin;
  height: 90vmin;
/*   width: 70%; */
  z-index: 2;
}

  img.rotating {
    transform: rotate(0deg);
  }

  @keyframes rotating{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .rotating {
    animation: rotating 15s linear infinite;
  }


  img.rotating_r {
    transform: rotate(0deg);
  }

  @keyframes rotating_r {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }

  .rotating_r {
    animation: rotating_r 15s linear infinite;
  }

