body {
  background-color: #000;
}

.chooser > button {
  width: 50vw;
  height: 50vh;
  display: inline-block;
  background-color: darkgreen;
  color:white;
  font-size: 30px;
}

.rainbow-container {
  height: 10vmin;
  width: 10vmin;
  position: absolute;
}

$s: 0px;

ul {
  height: $s;
  width: $s;
  background-color: #000;
  margin: auto;
}

$b: 3000px;
li {
  padding: 0;
  height: $b;
  width: $b;
  display: block;
  position: absolute;
  transform-origin: 0 0;
}


$rainbow: (
  1: "#b72421",
  2: "#de3930",
  3: "#e2941f",
  4: "#d1bf36",
  5: "#8bb023",
  6: "#1d8f27",
  7: "#46a0b3",
  8: "#3a68aa",
  9: "#252a71",
  10: "#823673",
  11: "#b846a0",
  12: "#e66fa1"

);

@each $num, $color in $rainbow {
  li:nth-child(#{$num}) {
    transform: rotate(#{($num - 1) * 30}deg) skewy(60deg);
    background-color: #{$color};
  }

  @keyframes rotating#{$num} {
    from {
      transform: rotate(#{($num - 1) * 30}deg);
    }
    to {
      transform: rotate(#{($num - 1) * -360}deg);
    }
  }

  .rotating#{$num} {
    animation: rotating#{$num} 35s ease-in-out infinite;
  }
}
