$s: 10px;

body {
  background-color: #000;
}

.rainbow-container {
  width:90vw;
  height: 90vh;
  display: grid;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  overflow: clip;
}

ul {

  height: $s;
  width: $s;
/*   position: absolute; */
/*   left: 50%;
  top: 50%; */
  background-color: #000;
}

$b: 3000px;
li {
  padding: 0;
  height: $b;
  width: $b;
  display: block;
  position: absolute;
  transform-origin: 0 0;
}


$rainbow: (
  1: "#b72421",
  2: "#de3930",
  3: "#e2941f",
  4: "#d1bf36",
  5: "#8bb023",
  6: "#1d8f27",
  7: "#46a0b3",
  8: "#3a68aa",
  9: "#252a71",
  10: "#823673",
  11: "#b846a0",
  12: "#e66fa1"

);

@each $num, $color in $rainbow {
  li:nth-child(#{$num}) {
    transform: rotate(#{($num - 1) * 30}deg) skewy(60deg);
    background-color: #{$color};
  }

  @keyframes rotating#{$num} {
    from {
      transform: rotate(#{($num - 1) * 30}deg);
    }
    to {
      transform: rotate(#{($num - 1) * -360}deg);
    }
  }

  .rotating#{$num} {
    animation: rotating#{$num} 35s ease-in-out infinite;
  }
}
