@import 'components/rainbow-spinner';
@import 'components/jones';

* {
  // border: 3px solid white;
}

#app div {
  display: flex;
  align-items: center;
  align-content: center;
}

.chooser > button {
  width: 40vw;
  height: 50vh;
  margin-top: 10vh;
  margin-left: 5vw;
  display: inline-block;
  background-color: darkgreen;
  color:white;
  font-size: 30px;
}

.outer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
